@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   Soporte Blowout<br />
    Av Carrera 9 #50 - 15, Oficina 2-09 <br />
    <abbr title="Telefono">P:</abbr>
    4145719
</address>

<address>
    <strong>Support:</strong>   <a href="cloudsas@gmail.com">Support@cloudsas.com</a><br />
   
</address>